<div class="container mb-3">
    <div class="card p-2 mx-5">
        <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
            <h2>Ajouter une nouvelle personne <i class="fa-solid fa-chevron-down text-info float-right"></i></h2>
        </a>
        <div id="collapseOne" class="collapse col-6 mx-auto">
            <form #monForm="ngForm" (ngSubmit)="ajouterPersonne()">
                <div class="mb-3 mt-3">
                    <label for="nom" class="form-label">Nom:</label>
                    <input type="text" class="form-control" id="nom" placeholder="Enter nom" name="nom"
                        [(ngModel)]="personne.nom">
                </div>
                <div class="mb-3">
                    <label for="prenom" class="form-label">Pr&eacute;nom:</label>
                    <input type="text" class="form-control" id="prenom" placeholder="Enter prénom" name="prenom"
                        [(ngModel)]="personne.prenom">
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!monForm.valid">Ajouter</button>
            </form>
        </div>
    </div>
</div>
<div class="card">
    <h2 class="card text-center p-2 bg-light m-2">Liste de personnes</h2>

    <div class="row">
        <div class="col mx-5">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date d'enregistrement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let elt of personnes">
                        <td>{{ elt.nom }}</td>
                        <td> {{elt.prenom}}</td>
                        <td> {{ elt.dateEnregistrement }}</td>
                        <td>
                            <button class="text-danger btn" (click)="supprimerPersonne(elt.id)"><i class="fa-solid fa-trash-can"></i></button>
                            <a [routerLink]="['/personne', elt.id]" class="text-warning btn"><i class="fa-solid fa-file-pen"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>